<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>test.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegServlet</servlet-name>
<servlet-class>test.RegServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegServlet</servlet-name>
<url-pattern>/Reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewTrain</servlet-name>
<servlet-class>test.ViewTrain</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewTrain</servlet-name>
<url-pattern>/ViewTrain</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddTrain</servlet-name>
<servlet-class>test.AddTrain</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddTrain</servlet-name>
<url-pattern>/AddTrain</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ViewAllTrain</servlet-name>
<servlet-class>test.ViewAllTrain</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewAllTrain</servlet-name>
<url-pattern>/ViewAllTrain</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Conformation</servlet-name>
<servlet-class>test.Conformation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Conformation</servlet-name>
<url-pattern>/OnlineReg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Conformation</servlet-name>
<servlet-class>test.Conformation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Conformation</servlet-name>
<url-pattern>/Paytm</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Reservation</servlet-name>
<servlet-class>test.Reservation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Reservation</servlet-name>
<url-pattern>/Reservation</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>Login.html</welcome-file>
</welcome-file-list>
</web-app>